html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    background-color: black;
    overflow: hidden;
    white-space: nowrap;
    user-select: none; /* disable text selection */
    -webkit-user-select: none;
    -webkit-user-drag: none;
}

.gameplay-stage-container {
    min-height: 100%;
	display: flex;
	vertical-align: middle;
	justify-content: center;
	align-items: center;
	min-width: 100%;
}

.gameplay-stage {
    /* Enforce 1024 x 768 dimension, and disable inadvertent scrolling */
	max-height: 768px;
    min-height: 768px;
    max-width: 1024px;
    min-width: 1024px;
    width: 1024px;
    height: 1024px;
    overflow: hidden;
}

.game-page {
    /* Common styles for game pages. Doesn't appear until you apply .visible
    class */
    display: none;
    background: white;
    height: 100%;
    width: 100%;
    overflow: hidden;
    position: relative;
}

.game-page.visible {
    display: block;
}

img {
    /* Disable image dragging */
    pointer-events: none
}

/********* UI elements **********/
.btn-orb {
    background-position: center center;
    background-size: contain;
    background-repeat: no-repeat;
    transition: 0.1s ease-in-out;
}

.btn-orb:hover {
    filter: brightness(1.1);
    transform: scale(1.05);
}

.btn-orb:active {
    filter: brightness(0.9);
    transform: scale(0.95);
}

/********* Keyframes (for page animations) **********/
@keyframes fade-in {
    0%   { opacity: 0; }
    100% { opacity: 1; }
}