.scene {
    width: 1024px;
    height: 768px;
    overflow: hidden;
    display: none;
    position: absolute;
    top: 0; left: 0;
}

.scene--active { display: block; }

.scene .item {
    position: absolute;
    top: 0; left: 0;
    background-size: contain;
    background-repeat: no-repeat;
}


/*** magnetic items scene ***/
.scene0 {
    background-color: #543982
}

.scene0 .item.card {
    background-image: url(../img/story/card.png);
    width: 333px; height: 239px;
    top: 211.555px; left: 39.1109px;
}

.scene0 .item.compass {
    background-image: url(../img/story/compass-base.png);
    width: 219px; height: 220px;
    top: 215.111px; left: 441.778px;
}

.scene0 .item.compass-needle {
    background-image: url(../img/story/compass-needle.png);
    width: 129px; height: 113px;
    position: relative; top: 59px; left: 45px;
}

.scene0 .item.phone {
    background-image: url(../img/story/phone.png);
    width: 184px; height: 317px;
    top: 153.778px; left: 761.778px;
}

.game-page-story .text {
    color: white;
    font-size: 36px;
    position: absolute;
    text-align: center;
    width: 1024px;
}

.scene0 .text {
    top: 536.88px;
}

.game-page-story .text p {
    margin: 12px 0;
}

/*** introducing poles page ***/
.scene1 {
    background-color: #543982
}

.scene .character-jessie {
    top: 343px;
    left: 216px;
    z-index: 1;
}

.scene .character-jessie-arms {
    z-index: 0 !important /* I KNOW using !important is bad, but damn if it ain't a great quick fix :p */;
    position: relative !important;
    left: 17px !important;
    z-index: 4;
    top: 60px !important;
}

.scene .character-jessie-body {
    background-image: url(../img/characters/jessie/jessie-body.png);
    width: 91px; height: 273px;
    z-index: 2;
}

.scene .character-jessie-expression-happy {
    position: relative;
    top: 30px !important;
    left: 15px;
    background-image: url(../img/characters/jessie/expression-jessie-happy.png);
    width: 60px; height: 46px;
    z-index: 3;
    top: 0;
}

.scene .character-jessie-expression-focussed {
    position: relative;
    top: 30px !important;
    left: 10px;
    background-image: url(../img/characters/jessie/expression-jessie-focussed.png);
    width: 66px; height: 48px;
    z-index: 3;
    top: 0;
}

.scene .character-jessie-arm-l {
    background-image: url(../img/maggie/arm-l.png);
    z-index: 1;
    left: -41px;
    width: 36px;
    height: 77px;
}

.scene .character-jessie-arm-r {
    background-image: url(../img/maggie/arm-r.png);
    z-index: 1;
    left: 38px;
    width: 36px;
    top: -68px;
    height: 77px;
    transform: rotate(44deg);
    transform-origin: bottom;
}

.scene .character-haroon {
    top: 291px;
    left: 687px;
    z-index: 2;
}

.scene .character-haroon .character-haroon-body {
    background-image: url(../img/characters/haroon/haroon-body.png);
    width: 133px;
    height: 330px;
}

.scene .character-haroon .character-haroon-expression-smile {
    position: relative;
    top: 74px !important;
    left: 45px;
    background-image: url(../img/characters/haroon/expression-haroon-smile.png);
    width: 59px; height: 52px;
    z-index: 3;
    top: 0;
}

.scene .character-haroon-arm-l {
    background-image: url(../img/characters/haroon/haroon-arm-l.png);
    z-index: 1;
    left: 6px;
    width: 23px;
    top: 121px;
    height: 56px;
    transform-origin: center 90%;
}


.scene .character-haroon-arm-r {
    background-image: url(../img/characters/haroon/haroon-arm-r.png);
    z-index: 1;
    left: 110px;
    width: 28px;
    top: 166px;
    height: 46px;
    transform-origin: center 90%;
}

.scene1 .text {
    top: 159px;
}

.scene1 .drag-progress,
.scene2 .drag-progress {
    width: 550px;
    height: 32px;
    border-radius: 900px;
    background-color: rgba(255,255,255,.3);
    top: 450px;
    left: 239px;
    position: absolute;

    /* flip */
    transform: scaleX(-1) !important;

    z-index: 0;
}

.scene1 .drag-progress:after {
    /* We store width of the :after element (which is what displays the progress inside the bar)
    as a CSS custom property - which we adjust in JS. We do this because we cannot easily
    modify styles of pseudo-elements. */

    content: '';
    position: absolute;
    top: 0; left: 0;
    width: var(--progress);
    height: 32px;
    border-radius: 900px;
    background-color: rgba(255,255,255,.8);
    z-index: 0;
}

/*** Magnetic Repulsion ***/
.scene2 .character-lil-full {
    top: 300px;
    width: 144.5px;
    height: 319.5px;
    background-image: url(../img/characters/lil/character-lil-full.png);
    left: 678px;
    z-index: 1;
}

.scene2 .character-jessie-arm-r { 
    background-image: url(../img/maggie/arm-r.png);
    z-index: 1;
    left: 64px;
    width: 36px;
    top: -82px;
    height: 77px;
    transform: rotate(183deg);
    transform-origin: bottom;
}

.scene2 .drag-progress:after {
    content: '';
    position: absolute;
    top: 0; left: 0;
    width: var(--progress2);
    height: 32px;
    border-radius: 900px;
    background-color: rgba(255,255,255,.8);
    z-index: 0;
}

.scene2 .text p {
    max-width: 60%;
    white-space: normal;
    margin: 12px auto;
}

.scene2 .text {
    top: 124px
}

/*** First scene (city) ***/
.scene3 {
    background-image: url(../img/story/sky--sunny.png);
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden !important;
}

.scene3 .city {
    transform: scale(.9) translate(100px, 0);
}

.scene3 .sun {
    position: absolute;
    background-image: url(../img/story/sun.png);
    background-size: contain;
    width: 105.49195px;
    height: 122.4207px;
    top: 32px; left: 32px;
}

.scene3 .buildings {
    position: absolute;
    background-image: url(../img/story/buildings.png);
    background-size: contain;
    background-repeat: no-repeat;
    width: 1168.25px;
    height: 580.75px;
    top: 33px; left: -163px;
}

.scene3 .magbux {
    position: absolute;
    background-image: url(../img/story/magbux.png);
    background-size: contain;
    background-repeat: no-repeat;
    width: 362px;
    height: 405px;
    top: 203.703px; left: 470.674px;
    z-index: 2;
}

.scene3 .bank {
    position: absolute;
    background-image: url(../img/story/bank.png);
    background-size: contain;
    background-repeat: no-repeat;
    width: 187px;
    height: 289px;
    top: 321.457px; left: 94.6463px;
    z-index: 2;
}

.scene3 .tree {
    position: absolute;
    background-image: url(../img/story/tree.png);
    background-size: contain;
    background-repeat: no-repeat;
    width: 147px;
    height: 241.5px;
    top: 0; left: 0;
    z-index: 2;
}

.scene3 .tree0 {
    top: 336.805px; left: 321.457px;
}

.scene3 .tree1 {
    top: 340.215px; left: 850.964px;
}

.scene3 .pavement {
    position: absolute;
    background-image: url(../img/story/pavement.png);
    background-size: contain;
    background-repeat: no-repeat;
    width: 1227.25px;
    height: 46.25px;
    top: 547.414px; left: -208.904px;
}

.scene3 .road {
    position: absolute;
    background-image: url(../img/story/road.png);
    background-size: contain;
    background-repeat: no-repeat;
    width: 1313.25px;
    height: 246.5px;
    top: 590px; left: -207px;
    z-index: 3;
}

.scene3 .car {
    position: absolute;
    background-image: url(../img/story/car.png);
    background-size: contain;
    background-repeat: no-repeat;
    width: 451.5px;
    height: 262px;
    top: 489px; left: -700px;
    z-index: 4;
}

/*** Maggie's Room ***/
.scene4 {
    background-image: url(../img/story/maggies-room.png);
    background-size: cover;
    transform-origin: 45% 41%;
}

.scene4 .bed {
    position: absolute;
    background-image: url(../img/story/bed.png);
    background-size: contain;
    background-repeat: no-repeat;
    width: 364.5px;
    height: 276px;
    z-index: 1;
    top: 478.4px; left: 635.2px;
}

.scene4 .maggie-sleep {
    position: absolute;
    background-image: url(../img/story/maggie-sleep.png);
    background-size: contain;
    background-repeat: no-repeat;
    width: 86px;
    height: 101.5px;
    z-index: 1;
    top: 461px; left: 791.2px;
    animation: 3s infinite sleeping;
}

.scene4 .blanket {
    position: absolute;
    background-image: url(../img/story/blanket.png);
    background-size: contain;
    background-repeat: no-repeat;
    width: 339.5px;
    height: 107.5px;
    z-index: 2;
    top: 523.2px; left: 629.6px
}

@keyframes sleeping {
    0% { transform: translateY(0) }
    50% { transform: translateY(-5px) }
    100% { transform: translateY(0) }
}

/**** Scene 2: Maggie close up in bed ****/
.scene5 {
    background-color: #361820;
}

.scene5 .bed-closeup {
    width: 814px; height: 826px;
    background-image: url(../img/story/bed-closeup.png);
    top: 145.6px; left: 100.8px;
}

.scene5 .blanket-closeup {
    width: 709.5px; height: 657.5px;
    background-image: url(../img/story/blanket-closeup.png);
    top: 493.6px; left: 165.6px;
    z-index: 1;
}

.scene5 .maggie-pajamas {
    width: 365.5px; height: 791px;
    background-image: url(../img/story/maggie-pajamas.png);
    top: 186.4px; left: 320.8px;
    animation: 3s infinite sleeping;
}

.scene5 .maggie-pajamas.awake {
    animation: unset;
}

.scene5 .expression-sleeping {
    position: relative;
    top: 0; left: 0;
    width: 127.5px; height: 127.5px;
    background-image: url(../img/story/expression-sleeping.png);
    top: 177px; left: 111px;
}

.scene5 .expression-shocked {
    position: relative;
    top: 0; left: 0;
    width: 127px; height: 124.5px;
    background-image: url(../img/story/expression-shocked.png);
    top: 177px; left: 111px;
}

.scene5 .expression-screaming {
    position: relative;
    top: 0; left: 0;
    width: 127.5px; height: 134px;
    background-image: url(../img/story/expression-screaming.png);
    top: 177px; left: 111px;
}

.scene5 .sleepbubbles {
    top: 470.2px;
    left: 508.2px;
    animation: 3s infinite sleeping;
}

.scene5 .sleepbubbles .sleepbubble0 {
    width: 25.5px; height: 22.5px;
    background-image: url(../img/story/sleepbubble0.png);
    position: relative;
}

.scene5 .sleepbubbles .sleepbubble1 {
    width: 38.5px; height: 39px;
    background-image: url(../img/story/sleepbubble1.png);
    position: relative;
    top: -64px;
    left: 31px;
}

.scene5 .sleepbubbles .sleepbubble2 {
    width: 55.5px; height: 55.5px;
    background-image: url(../img/story/sleepbubble2.png);
    position: relative;
    top: -163px;
    left: 75px;
}

.scene5 .sleepbubbles .sleepbubble3 {
    width: 98px; height: 98px;
    background-image: url(../img/story/sleepbubble3.png);
    position: relative;
    top: -320px;
    left: 123px;
}

.scene5 .clock {
    width: 217.5px; height: 216.75px;
    background-image: url(../img/items/clock@2x.png);
    top: 271px;
    left: 1030px;
}

/** Scene 6 : Maggie scared of school **/
.scene6 {
    height: 100%; width: 100%;
    background-color: #29ABE2;
}

.magnetfield-academy-front {
    background-image: url(../img/story/magnetfield-academy@0.5x.png);
    width: 890px;
    height: 801px;
    left: 72px !important;
    top: 74px !important; 
}

.maggie-back {
    background-image: url(../img/story/maggie-back@0.5x.png);
    width: 520px;
    height: 901px;
    z-index: 2;
    top: 209px !important;
    left: 232px !important;
}

/** Scene 7: Snow day goes wrong **/
.scene7 { 
    height: 100%; width: 100%;
    background-image: url(../img/story/school-snow.png);
    background-size: cover;
}

.scene7 .character-jessie {
    transform: scale(.7);
    left: 592px;
    top: 369px;
}

.scene7 .character-jessie-arm-r {
    background-image: url(../img/maggie/arm-r.png);
    z-index: 1;
    left: -79px;
    width: 36px;
    top: -36px;
    height: 77px;
    transform: rotate(53deg);
    transform-origin: bottom;
}

.scene7 .character-jessie-arms.animating .character-jessie-arm-r {
    animation: 1s infinite arm-r-ruffling;
}

.scene7 .character-jessie-arms.animating .character-jessie-arm-l {
    animation: 1s infinite arm-l-ruffling;
}

@keyframes arm-l-ruffling {
    0% { transform: rotate(0deg)}
    50% { transform: rotate(10deg) translateX(-15px)}
    100% { transform: rotate(0deg)}
}

@keyframes arm-r-ruffling {
    0% { transform: rotate(53deg)}
    50% { transform: rotate(63deg) translateX(10px)}
    100% { transform: rotate(53deg)}
}

.scene7 .character-tomas {
    position: absolute;
    left: 692px;
    top: 485px;
    z-index: 2;
}

.scene7 .character-tomas-body {
    background-image: url(../img/characters/tomas/tomas-body.png);
    width: 70px;
    height: 248px;
    z-index: 2;
}

.scene7 .character-tomas-arm-l {
    background-image: url(../img/maggie/arm-l.png);
    z-index: 1;
    left: -21px;
    width: 30px;
    top: 94px;
    height: 78px;
    transform: rotate(-5deg);
    transform-origin: center 90%;
}


.scene7 .character-tomas-arm-r {
    background-image: url(../img/maggie/arm-r.png);
    z-index: 1;
    left: 59px;
    width: 30px;
    top: 94px;
    height: 78px;
    transform: rotate(5deg);
    transform-origin: center 90%;
}