.game-page-title {
    background: linear-gradient(135deg, rgba(153, 42, 255, 1) 0%, rgba(95, 61, 146, 1) 100%);
}

.btn-orb-start {
    z-index: 2;
}

.lightrays {
    position: absolute;
    width: 128%;
    left: -142px;
    top: -53px;
    z-index: 1;
    opacity: .6;
    animation: rotate-light-rays 40s linear infinite;
}

@keyframes rotate-light-rays {
    0% { transform: rotate(0deg) }
    100% { transform: rotate(360deg) }
}

.btn-orb-start {
    position: absolute;
    background-image: url('../img/btn-start.png');

    width: 160px;
    height: 160px;

    bottom: 84px;

    /* centers on x axis */
    left: 0;
    right: 0;
    margin: 0 auto;
}