/**** start page ****/
.game-page-start-content {
    background: black;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;;
    color: white;
    height: 100%;
    width: 100%;
    cursor: pointer;
}

.game-page-start h1 {
    font-size: 92px;
    margin: 0 0 0 0;
}

.game-page-start p {
    font-size: 24px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}

.game-page-title {
    background: linear-gradient(135deg, rgba(153, 42, 255, 1) 0%, rgba(95, 61, 146, 1) 100%);
}

.btn-orb-start {
    z-index: 2;
}

.lightrays {
    position: absolute;
    width: 128%;
    left: -142px;
    top: 180px;
    z-index: 1;
    opacity: .6;
    animation: rotate-light-rays 40s linear infinite;
    transition: 1s ease-in-out;
}

.lightrays.with-btn {
    top: -53px;
}

@keyframes rotate-light-rays {
    0% { transform: rotate(0deg) }
    100% { transform: rotate(360deg) }
}

.btn-orb-start {
    position: absolute;
    background-image: url('../img/btn-start.png');

    width: 160px;
    height: 160px;

    bottom: -172px;

    /* centers on x axis */
    left: 0;
    right: 0;
    margin: 0 auto;

    transition: 0.15s ease-in-out;
}

.btn-orb-start.visible {
    bottom: 84px;
}

.title-logo {
    position: absolute;
    animation: logo-animation 1.9s ease-in-out;
    top: 236px;
    left: -79.46px; /* tidbit: technically 0 would be dead center, but i'm centering
                       based on the word "MAGGIE" to make sure it appears
                       optically centered. */
    right: 0;
    margin: 0 auto;
    width: 750px;
    z-index: 100;
    transform-origin: 50% 100%;
    transition: 1s ease-in-out;
}

.title-logo.with-btn {
    top: 110px;
}

.title-logo-full {
    position: absolute;
    top: 0;
    width: 750px;
}

.character-maggie {
    height: 293px;
    width: 134px;
    top: -43px;
    left: 7px;
    position: relative; /* children using position:absolute will be anchored
                           to Maggie */
    transform: scale(0.2); /* use a single transform style instead of 
                                painstakingly setting the size of every child */
    z-index: -1;
    transition: 1s ease-in-out;
}

.character-maggie.peeking {
    transform: scale(0.25) rotate(-20deg);
    left: -38px;
    top: -34px;
}

.character-maggie div {
    position: absolute;
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
    
}

.character-maggie-hair {
    position: absolute;
    width: 284px;
    height: 209px;
    background-image: url(../img/maggie/hair.png);
    z-index: 1;
}

.character-maggie-body {
    position: absolute;
    top: 102px; left: 73px;
    width: 152px;
    height: 487px;
    background-image: url(../img/maggie/body.png);
    z-index: 2;
}

.character-maggie-face {
    top: 160px; left: 101px;
    z-index: 3;
}

.character-maggie-face .character-maggie-face-eye-l {
    background-image: url(../img/maggie/eye.png);
    height: 28px; width: 28px;
    top: 20px; left: 62px;
}

.character-maggie-face .character-maggie-face-eye-r {
    background-image: url(../img/maggie/eye.png);
    height: 28px; width: 28px;
    top: 20px; left: 12px;
}

.character-maggie-face .character-maggie-face-brow-l {
    background-image: url(../img/maggie/brow-l.png);
    height: 24px; width: 20px;
} 

.character-maggie-face .character-maggie-face-brow-r {
    background-image: url(../img/maggie/brow-r.png);
    height: 25px; width: 19px;
    left: 80px;
}

.character-maggie-face-mouth.character-maggie-face-mouth-frown {
    background-image: url(../img/maggie/mouth-frown.png);
    height: 13px; width: 29px;
    left: 33px; top: 80px;
}

.character-maggie-leg-l {
    width: 40px;
    height: 55px;
    background-image: url(../img/maggie/leg-l.png);
    top: 572px; left: 92px;
    z-index: 1;
}

.character-maggie-leg-r {
    width: 40px;
    height: 55px;
    background-image: url(../img/maggie/leg-r.png);
    top: 574px; left: 156px;
    z-index: 1;
}


@keyframes logo-animation {
    0% {
        top: -300px;
    }

    50% {
        top: -300px;
    }

    60% {
        top: 236px;
    }

    60% {
        transform: scaleX(1);
    }

    61% {
        transform: scaleY(0.2) scaleX(1.5);
    }
    99% {
        background: none;
    }
}