.scene {
    width: 1024px;
    height: 768px;
    overflow: hidden;
    display: none;
    position: absolute;
    top: 0; left: 0;
}

.scene--active { display: block; }

.scene .item {
    position: absolute;
    top: 0; left: 0;
    background-size: contain;
    background-repeat: no-repeat;
}

/*** First scene (city) ***/
.scene0 {
    background-image: url(../img/story/sky--sunny.png);
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden !important;
}

.scene0 .city {
    transform: scale(.9) translate(100px, 0);
}

.scene0 .sun {
    position: absolute;
    background-image: url(../img/story/sun.png);
    background-size: contain;
    width: 105.49195px;
    height: 122.4207px;
    top: 32px; left: 32px;
}

.scene0 .buildings {
    position: absolute;
    background-image: url(../img/story/buildings.png);
    background-size: contain;
    background-repeat: no-repeat;
    width: 1168.25px;
    height: 580.75px;
    top: 33px; left: -163px;
}

.scene0 .magbux {
    position: absolute;
    background-image: url(../img/story/magbux.png);
    background-size: contain;
    background-repeat: no-repeat;
    width: 362px;
    height: 405px;
    top: 203.703px; left: 470.674px;
    z-index: 2;
}

.scene0 .bank {
    position: absolute;
    background-image: url(../img/story/bank.png);
    background-size: contain;
    background-repeat: no-repeat;
    width: 187px;
    height: 289px;
    top: 321.457px; left: 94.6463px;
    z-index: 2;
}

.scene0 .tree {
    position: absolute;
    background-image: url(../img/story/tree.png);
    background-size: contain;
    background-repeat: no-repeat;
    width: 147px;
    height: 241.5px;
    top: 0; left: 0;
    z-index: 2;
}

.scene0 .tree0 {
    top: 336.805px; left: 321.457px;
}

.scene0 .tree1 {
    top: 340.215px; left: 850.964px;
}

.scene0 .pavement {
    position: absolute;
    background-image: url(../img/story/pavement.png);
    background-size: contain;
    background-repeat: no-repeat;
    width: 1227.25px;
    height: 46.25px;
    top: 547.414px; left: -208.904px;
}

.scene0 .road {
    position: absolute;
    background-image: url(../img/story/road.png);
    background-size: contain;
    background-repeat: no-repeat;
    width: 1313.25px;
    height: 246.5px;
    top: 590px; left: -207px;
    z-index: 3;
}

.scene0 .car {
    position: absolute;
    background-image: url(../img/story/car.png);
    background-size: contain;
    background-repeat: no-repeat;
    width: 451.5px;
    height: 262px;
    top: 489px; left: -700px;
    z-index: 4;
}

/*** Maggie's Room ***/
.scene1 {
    background-image: url(../img/story/maggies-room.png);
    background-size: cover;
    transform-origin: 45% 41%;
}

.scene1 .bed {
    position: absolute;
    background-image: url(../img/story/bed.png);
    background-size: contain;
    background-repeat: no-repeat;
    width: 364.5px;
    height: 276px;
    z-index: 1;
    top: 478.4px; left: 635.2px;
}

.scene1 .maggie-sleep {
    position: absolute;
    background-image: url(../img/story/maggie-sleep.png);
    background-size: contain;
    background-repeat: no-repeat;
    width: 86px;
    height: 101.5px;
    z-index: 1;
    top: 461px; left: 791.2px;
    animation: 3s infinite sleeping;
}

.scene1 .blanket {
    position: absolute;
    background-image: url(../img/story/blanket.png);
    background-size: contain;
    background-repeat: no-repeat;
    width: 339.5px;
    height: 107.5px;
    z-index: 2;
    top: 523.2px; left: 629.6px
}

@keyframes sleeping {
    0% { transform: translateY(0) }
    50% { transform: translateY(-5px) }
    100% { transform: translateY(0) }
}



/**** Scene 2: Maggie close up in bed ****/
.scene2 {
    background-color: #361820;
}

.scene2 .bed-closeup {
    width: 814px; height: 826px;
    background-image: url(../img/story/bed-closeup.png);
    top: 145.6px; left: 100.8px;
}

.scene2 .blanket-closeup {
    width: 709.5px; height: 657.5px;
    background-image: url(../img/story/blanket-closeup.png);
    top: 493.6px; left: 165.6px;
    z-index: 1;
}

.scene2 .maggie-pajamas {
    width: 365.5px; height: 791px;
    background-image: url(../img/story/maggie-pajamas.png);
    top: 186.4px; left: 320.8px;
    animation: 3s infinite sleeping;
}

.scene2 .expression-sleeping {
    position: relative;
    top: 0; left: 0;
    width: 127.5px; height: 127.5px;
    background-image: url(../img/story/expression-sleeping.png);
    top: 177px; left: 111px;
}

.scene2 .sleepbubbles {
    top: 470.2px;
    left: 508.2px;
    animation: 3s infinite sleeping;
}

.scene2 .sleepbubbles .sleepbubble0 {
    width: 25.5px; height: 22.5px;
    background-image: url(../img/story/sleepbubble0.png);
    position: relative;
}

.scene2 .sleepbubbles .sleepbubble1 {
    width: 38.5px; height: 39px;
    background-image: url(../img/story/sleepbubble1.png);
    position: relative;
    top: -64px;
    left: 31px;
}

.scene2 .sleepbubbles .sleepbubble2 {
    width: 55.5px; height: 55.5px;
    background-image: url(../img/story/sleepbubble2.png);
    position: relative;
    top: -163px;
    left: 75px;
}

.scene2 .sleepbubbles .sleepbubble3 {
    width: 98px; height: 98px;
    background-image: url(../img/story/sleepbubble3.png);
    position: relative;
    top: -320px;
    left: 123px;
}
